@keyframes slide-to-right {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.slide-in-1 {
  opacity: 0;
  animation: slide-to-right 0.25s forwards 0.25s ease-in;
}

.slide-in-2 {
  opacity: 0;
  animation: slide-to-right 0.25s forwards 0.5s ease-in;
}

.slide-in-3 {
  opacity: 0;
  animation: slide-to-right 0.25s forwards 0.75s ease-in;
}

.slide-in-4 {
  opacity: 0;
  animation: slide-to-right 0.25s forwards 1s ease-in;
}

.slide-in-5 {
  opacity: 0;
  animation: slide-to-right 0.25s forwards 1.25s ease-in;
}

.slide-in-6 {
  opacity: 0;
  animation: slide-to-right 0.25s forwards 1.5s ease-in;
}

// delays
.slide-in-1-delay {
  opacity: 0;
  animation: slide-to-right 0.25s forwards 1.5s ease-in;
}

.slide-in-2-delay {
  opacity: 0;
  animation: slide-to-right 0.25s forwards 1.75s ease-in;
}

.slide-in-3-delay {
  opacity: 0;
  animation: slide-to-right 0.25s forwards 2s ease-in;
}

.slide-in-4-delay {
  opacity: 0;
  animation: slide-to-right 0.25s forwards 2.25s ease-in;
}

.slide-in-5-delay {
  opacity: 0;
  animation: slide-to-right 0.25s forwards 2.5s ease-in;
}

.slide-in-6-delay {
  opacity: 0;
  animation: slide-to-right 0.25s forwards 2.75s ease-in;
}
