.main-title {
  font-size: 3.5rem;
  line-height: 1;
}

@media (min-width: 640px) {
  .main-title {
    font-size: 5.3rem;
  }
}

.slide-in {
  animation: slide-to-right 1s ease-in;
}

.slide-down {
  opacity: 0;
  animation: slide-to-down 1s forwards 1s ease-in;
}

.slide-down-delay {
  opacity: 0;
  animation: slide-to-down 1s forwards 2s ease-in;
}

.fade-in {
  opacity: 0;
  animation: fade-in 2s forwards ease-in;
}

.fade-in-delay {
  opacity: 0;
  animation: fade-in 2s forwards 1s ease-in;
}

.text-underline {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: white;
  animation: line-slide 0.5s ease-in 1s 1 forwards;
}

.text-overline {
  content: "";
  position: absolute;
  height: 4px;
  top: 5px;
  left: 0;
  background-color: white;
  animation: line-slide 0.5s ease-in 0s 1 forwards;
}

@keyframes line-slide {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes slide-to-right {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-to-down {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
